{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Virtuous Deeds Offering 善行供养</title>
{% endblock title %}


{% block content %}
  <div class="container">
    <h1 style="font-family:simhei">Virtuous Deeds Offering 善行供养</h1>
    <br>
    <div class="row">
      <img src = "{% static 'images/TripleGem.jpg' %}" alt ="" class="img-fluid">      
        <div class="col-sm">      
          {{deed1 | safe}}
          {{text1 | safe}}
          {% if hide == False %}
            <form action="" method="post">
              {% csrf_token %}
              <h5 style="background-color: #e6ccff">
              {{ form1.as_p }}
              </h5>
              <input type="submit" name="btnform1" value="Submit (供养)">
            </form> 
          {% endif %}
        </div>

        <div class="col-sm">        
          {{deed2 | safe}}
          {{text2 | safe}}
          {% if hide == False %}
            <form action="" method="post">
              {% csrf_token %}
              <h5 style="background-color: #ffbaf7">
              {{ form2.as_p }}
              </h5>
              <input type="submit" name="btnform2" value="Submit (供养)">
            </form> 
          {% endif %}
        </div>

        <div class="col-sm">        
          {{deed3 | safe}}
          {{text3 | safe}}
          {% if hide == False %}
            <form action="" method="post">
              {% csrf_token %}
              <h5 style="background-color: #ffcccc">
              {{ form3.as_p }}
              </h5>
              <input type="submit" name="btnform3" value="Submit (供养)">
            </form> 
          {% endif %}
        </div>
    </div>

    <br>

  </div>
  <!-- <script src="{% static 'scroll.js' %}"></script> -->
 
{% endblock content %}
