{% extends 'base.html' %} {% load static %} {% block title %}
<link rel="stylesheet" href="{% static 'styles_vesak.css' %}" type="text/css" />
<title>Virtuous Deeds</title>
{% endblock title %} {% block content %}

<!-- Header-->
<header class="masthead d-flex align-items-center">
  <div id="counter-label">
    释迦心咒次数:
    <span class="card-counter" id="total-migtsema-counter">
      {{total_migtsema_counter}}
    </span>
  </div>
</header>

<!-- About-->
<section class="content-section bg-light" id="about">
  <div class="container px-4 px-lg-5 text-center">
    <div class="content-section-heading">
      <h2>释迦牟尼佛心咒的功德</h2>
      <h2 style="color: blue">（嗡牟尼牟尼 摩诃牟尼耶 娑诃）</h2>
      <br />
      <p style="font-size: 1.5rem; text-align: left">
        释迦牟尼佛是娑婆世界一切佛法之总持者，
        也为一切佛法之根本传承者，是故本师释迦牟尼佛即娑婆世界一切众生之根本上师。
        无论修任何部主本尊之法。持释尊心咒者即得释尊加被令修习诸教法者急速增进成就。
        针对凡夫众生来讲，诸佛心咒的利生力量，比智慧身还要直接，
        因为，一般凡夫很难相应甚深的见修等，但是，心咒谁都会念。
        藏传《小般若经》，彼经云：「诸佛皆从此陀罗尼咒中生，释迦佛亦依此陀罗尼咒之威力而成佛，
        观世音依此现前得菩萨果。仅以听闻此陀罗尼咒也将无勤获得广大福德，并清净一切罪障。若修密咒，
        则无有魔障而成就。」
        其余经典中也说，念诵一遍此陀罗尼咒，可清净俱胝八万劫当中所造的一切业障等，
        具无量功德利益，此乃释迦如来之殊胜心咒。
        诸佛心咒秘密不可思议，以一个心咒，能作无量利益。因为，
        心咒是圣尊的本体，以持咒就能召来佛力，可以作无量的事业。这些，和净土宗大德所说的「以名召德」也是相通的。
      </p>
    </div>
  </div>
</section>
<!-- Services-->
<section
  class="content-section bg-primary text-white text-center"
  id="services"
>
  <div class="container px-4 px-lg-5">
    <div class="content-section-heading">
      <h2>Practicing Buddha Shakyamuni Mantra benefits</h2>
      <h2 style="color: orange">（Om Muni Muni Maha Muniye Soha）</h2>
      <br />
      <p style="font-size: 1.5rem; text-align: left">
        When we recite this mantra, we are actually expressing and embodying the
        wisdom of the Budha. Moreover, this Buddhist mantra could be said to be
        the essence of Shakyamuni Buddha, the essence of His total
        enlightenment. According with some spiritual teachings, saying this
        potent mantra only once, all the negative deeds you have committed
        throughout your existence will be completely purified. Additionally, the
        mantra possesses numerous beneficial qualities for the practitioner,
        which include the sacred heart-essence of Gautama Buddha.
      </p>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    $("#total-migtsema-counter").text("{{total_migtsema_counter}}");

    $(".card-counter").each(function () {
      $(this)
        .prop("Counter", 0)
        .animate(
          {
            Counter: $(this).text(),
          },
          {
            duration: 3000,
            easing: "swing",
            step: function (now) {
              $(this).text(Math.ceil(now));
            },
          }
        );
    });
  });
</script>

{% endblock content %}
