{% extends 'base.html' %} {% load static %} {% block title %}
<title>释迦心咒</title>
{% endblock title %} {% block additional_styles %}
<style>
  body {
    min-height: 100vh;
    background: #eaf6f6;
    background-image: url(/static/images/cloud_rainbow.jpg);
    background-repeat: no-repeat;
  }

  input[type="number"] {
    width: 120px;
  }

  .category-name {
    font-size: 2rem;
  }

  .category-title {
    font-size: 1.4rem;
  }

  .btn {
    margin-bottom: 0.3rem;
  }
</style>
{% endblock %} {% block content %}

<div class="container-fluid">
  <!-- For Demo Purpose-->

  <h4 class="font-weight-bold mb-1 mt-2" style="text-align: center">
    释迦摩尼佛心咒
  </h4>
  <h4 class="font-weight-bold mb-2" style="text-align: center">
    Buddha Shakyamuni Mantra
  </h4>

  <div class="row pb-5 mb-4 justify-content-center">
    <div class="col-lg-4">
      <a id="target-migtsema"></a>
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-0">
          <img
            src="{% static 'images/vesak.jpg' %}"
            alt=""
            class="w-100 card-img-top"
          />
          <div class="p-4" style="text-align: center">
            <div
              style="font-size: 2em; display: inline; color: #ff9f45"
              class="font-weight-bold"
            >
              Total (总数):
            </div>
            <div
              style="display: inline; font-size: 2em; color: #ff1818"
              class="card-counter font-weight-bold"
              id="total-migtsema-counter"
              style="font-size: 35px"
            >
              0
            </div>
            <br />
            <div
              style="display: inline; font-size: 2em; color: #ffc300"
              class="font-weight-bold"
            >
              {{request.user}}:
            </div>
            <div
              style="display: inline; font-size: 2em; color: #2d31fa"
              class="card-counter font-weight-bold"
              id="migtsema-counter"
              style="font-size: 35px"
            >
              0
            </div>

            <ul class="social mb-0 list-inline mt-0"></ul>
            <form action="" method="post">
              {% csrf_token %}
              <div id="divHiddenbox" style="display: none">
                <input name="anchor-tag" value="#target-migtsema" />
                {{form_mantra_recitation.om_mani_padme_hum_counter}}
                {{form_mantra_recitation.manjushri_mantra_counter}}
                {{form_mantra_recitation.green_tara_mantra_counter}}
              </div>
              {{form_mantra_recitation.migtsema_counter}}
              <input
                type="submit"
                class="btn btn-info btn-sm"
                name="btnMigtsema"
                value="Add (添加)"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#full-prostration-counter").text("{{full_prostration_counter}}");
    $("#half-prostration-counter").text("{{half_prostration_counter}}");
    $("#bow-counter").text("{{bow_counter}}");
    $("#recitation-counter").text("{{recitation_counter}}");

    $("#mahaprajnaparamita-sutra-counter").text(
      "{{mahaprajnaparamita_sutra_counter}}"
    );
    $("#heart-sutra-counter").text("{{heart_sutra_counter}}");
    $("#medicine-buddha-sutra-counter").text(
      "{{medicine_buddha_sutra_counter}}"
    );
    $("#golden-light-sutra-counter").text("{{golden_light_sutra_counter}}");

    $("#om-mani-padme-hum-counter").text("{{om_mani_padme_hum_counter}}");
    $("#manjushri-mantra-counter").text("{{manjushri_mantra_counter}}");
    $("#green-tara-mantra-counter").text("{{green_tara_mantra_counter}}");
    $("#migtsema-counter").text("{{migtsema_counter}}");
    $("#total-migtsema-counter").text("{{total_migtsema_counter}}");

    $(".card-counter").each(function () {
      $(this)
        .prop("Counter", 0)
        .animate(
          {
            Counter: $(this).text(),
          },
          {
            duration: 3000,
            easing: "swing",
            step: function (now) {
              $(this).text(Math.ceil(now));
            },
          }
        );
    });
  });
</script>

{% endblock content %} {% block script_content %} {% endblock script_content %}
