{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>净罪集资</title>
{% endblock title %}

{% block additional_styles %}
<style>
	body {
		min-height: 100vh;
		background: #eaf6f6;
	}
  
	input[type=number]{
		width: 120px;
	}
	
	.category-name{
		font-size:2rem;			
	}
	
	.category-title{
		font-size:1.4rem;			
	}

  .btn{
    margin-bottom: 0.3rem;
  }
	
</style>
{% endblock %}    

{% block content %}
<div id='container1'></div>
 
<div class="container-fluid py-0" style="padding:10%">
  <!-- For Demo Purpose-->

    <h1 class="display-4 font-weight-bold">净罪集资 (总数)</h1>
    <h3 class="font-weight-bold font-italic text-muted mb-0">Accumulate merits and eliminate obstacles (Total)</h3>
	<br>
  
   <!-- First Row [Team]-->
  <h2 class="font-weight-bold mb-0 category-name">三十五佛忏</h2>
  <p class=" font-weight-bold font-italic text-muted mb-4">35 Buddhas Repentance</p>

  <div class="row pb-5 mb-4">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="{% static 'images/full_prostration.jpg' %}" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="font-weight-bold mb-0 category-title" >大礼拜</h5>
            <p class="font-weight-bold small text-muted">Full prostration</p>
			      <div class="card-counter font-weight-bold" id="full-prostration-counter" style="font-size: 35px">0</div>
            <ul class="social mb-0 list-inline mt-2"></ul>
            <h5 class="font-weight-bold mb-0" >目标 (Target): {{full_prostration_target}}</h5>
            <br>
            <ul class="social mb-0 list-inline mt-3"></ul>
            <div class='bar_group'>
              <div style="display: none;" class='bar_group__bar thick' tooltip='false' value='{{full_prostration_target}}'></div>
              <div class='bar_group__bar thick' show_values='true' tooltip='true' value='{{full_prostration_counter}}'></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="{% static 'images/half_prostration.jpg' %}" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="font-weight-bold mb-0 category-title">短拜</h5>
            <p class="font-weight-bold small text-muted">Half prostration</p>
			      <div class="card-counter font-weight-bold" id="half-prostration-counter" style="font-size: 35px">0</div>
            <ul class="social mb-0 list-inline mt-2"></ul>
            <h5 class="font-weight-bold mb-0" >目标 (Target): {{half_prostration_target}}</h5>
            <br>
            <ul class="social mb-0 list-inline mt-3"></ul>
            <div class='bar_group'>
              <div style="display: none;" class='bar_group__bar thick' tooltip='true' value={{half_prostration_target}}></div>
              <div class='bar_group__bar thick' show_values='true' tooltip='true' value='{{half_prostration_counter}}'></div>
            </div>		
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="{% static 'images/bow.jpg' %}" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="font-weight-bold mb-0 category-title">问讯</h5>
            <p class="font-weight-bold small text-muted">Bows</p>
			      <div class="card-counter font-weight-bold" id="bow-counter" style="font-size: 35px">0</div>
            <ul class="social mb-0 list-inline mt-2"></ul>
            <h5 class="font-weight-bold mb-0" >目标 (Target): {{bow_target}}</h5>
            <br>
            <ul class="social mb-0 list-inline mt-3"></ul>
            <div class='bar_group'>
              <div style="display: none;" class='bar_group__bar thick' tooltip='true' value='{{bow_target}}'></div>
              <div class='bar_group__bar thick' show_values='true' tooltip='true' value='{{bow_counter}}'></div>
            </div>				
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="{% static 'images/recitation.jpg' %}" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="font-weight-bold mb-0 category-title">念诵</h5>
            <p class="font-weight-bold small text-muted">Recitation</p>
			      <div class="card-counter font-weight-bold" id="recitation-counter" style="font-size: 35px">0</div>
            <ul class="social mb-0 list-inline mt-2"></ul>
            <h5 class="font-weight-bold mb-0" >目标 (Target): {{recitation_target}}</h5>
            <br>
            <ul class="social mb-0 list-inline mt-3"></ul>
            <div class='bar_group'>
              <div style="display: none;" class='bar_group__bar thick' tooltip='true' value='{{recitation_target}}'></div>
              <div class='bar_group__bar thick' show_values='true' tooltip='true' value='{{recitation_counter}}'></div>
            </div>				
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

  <!-- Second Row [Team]-->
  <h2 class="font-weight-bold mb-0 category-name">诵经</h2>
  <p class="font-weight-bold font-italic text-muted mb-4">Sutra Recitation</p>

  <div class="row pb-5 mb-4">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="{% static 'images/mahaprajnaparamita.jpg' %}" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="font-weight-bold mb-0 category-title">大般若波罗蜜多经</h5>
            <p class="font-weight-bold small text-muted">Mahaprajnaparamita Sutra</p>
			      <div class="card-counter font-weight-bold" id="mahaprajnaparamita-sutra-counter" style="font-size: 35px">0</div>
            <ul class="social mb-0 list-inline mt-2"></ul>
            <h5 class="font-weight-bold mb-0" >目标 (Target): {{mahaprajnaparamita_sutra_target}}</h5>
            <br>
            <ul class="social mb-0 list-inline mt-3"></ul>
            <div class='bar_group'>
              <div style="display: none;" class='bar_group__bar thick' tooltip='true' value='{{mahaprajnaparamita_sutra_target}}'></div>
              <div class='bar_group__bar thick' show_values='true' tooltip='true' value='{{mahaprajnaparamita_sutra_counter}}'></div>
            </div>	
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="{% static 'images/heart-sutra.jpg' %}" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="font-weight-bold mb-0 category-title">心经</h5></h5>
            <p class="font-weight-bold small text-muted">Heart Sutra</p>
			      <div class="card-counter font-weight-bold" id="heart-sutra-counter" style="font-size: 35px">0</div>
            <ul class="social mb-0 list-inline mt-2"></ul>
            <h5 class="font-weight-bold mb-0" >目标 (Target): {{heart_sutra_target}}</h5>
            <br>
            <ul class="social mb-0 list-inline mt-3"></ul>
            <div class='bar_group'>
              <div style="display: none;" class='bar_group__bar thick' tooltip='true' value='{{heart_sutra_target}}'></div>
              <div class='bar_group__bar thick' show_values='true' tooltip='true' value='{{heart_sutra_counter}}'></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="{% static 'images/medicine-buddha-sutra.jpg' %}" alt="" class="w-100 card-img-top">
			    <div class="p-4">
            <h5 class="font-weight-bold mb-0 category-title">药师琉璃光如来本愿功德经</h5>
             <p class="font-weight-bold small text-muted">Medicine Buddha Sutra</p>
			      <div class="card-counter font-weight-bold" id="medicine-buddha-sutra-counter" style="font-size: 35px">0</div>
            <ul class="social mb-0 list-inline mt-2"></ul>
            <h5 class="font-weight-bold mb-0" >目标 (Target): {{medicine_buddha_sutra_target}}</h5>
            <br>
            <ul class="social mb-0 list-inline mt-3"></ul>
            <div class='bar_group'>
              <div style="display: none;" class='bar_group__bar thick' tooltip='true' value='{{medicine_buddha_sutra_target}}'></div>
              <div class='bar_group__bar thick' show_values='true' tooltip='true' value='{{medicine_buddha_sutra_counter}}'></div>
            </div>
			    </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="{% static 'images/golden-light-sutra.jpg' %}" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="font-weight-bold mb-0 category-title">金光明最胜王经</h5>
            <p class="font-weight-bold small text-muted">Golden Light Sutra</p>
			      <div class="card-counter font-weight-bold" id="golden-light-sutra-counter" style="font-size: 35px">0</div>
            <ul class="social mb-0 list-inline mt-2"></ul>
            <h5 class="font-weight-bold mb-0" >目标 (Target): {{golden_light_sutra_target}}</h5>
            <br>
            <ul class="social mb-0 list-inline mt-3"></ul>
            <div class='bar_group'>
              <div style="display: none;" class='bar_group__bar thick' tooltip='true' value='{{golden_light_sutra_target}}'></div>
              <div class='bar_group__bar thick' show_values='true' tooltip='true' value='{{golden_light_sutra_counter}}'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Third Row [Profiles]-->
  <h2 class="font-weight-bold mb-0 category-name">念心咒</h2>
  <p class="font-weight-bold text-muted mb-4 ">Mantra Recitation</p>

  <div class="row pb-5 mb-4">

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-0"><img src="{% static 'images/Shakyamuni_mantra.jpg' %}" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="font-weight-bold mb-0 category-title">释迦摩尼佛心咒</h5>
            <p class="font-weight-bold small text-muted">Buddha Shakyamuni Mantra</p>
			      <div class="card-counter font-weight-bold" id="migtsema-counter" style="font-size: 35px">0</div>
            <ul class="social mb-0 list-inline mt-2"></ul>
            <h5 class="font-weight-bold mb-0" >目标 (Target): {{migtsema_target}}</h5>
            <br>
            <ul class="social mb-0 list-inline mt-3"></ul>
            <div class='bar_group'>
              <div style="display: none;" class='bar_group__bar thick' tooltip='true' value='{{migtsema_target}}'></div>
              <div class='bar_group__bar thick' show_values='true' tooltip='true' value='{{migtsema_counter}}'></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="{% static 'images/six.gif' %}" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="font-weight-bold mb-0 category-title">六字大明咒</h5>
            <p class="font-weight-bold small text-muted">Om Mani Padme Hum</p>
			      <div class="card-counter font-weight-bold" id="om-mani-padme-hum-counter" style="font-size: 35px">0</div>
            <ul class="social mb-0 list-inline mt-2"></ul>
            <h5 class="font-weight-bold mb-0" >目标 (Target): {{om_mani_padme_hum_target}}</h5>
            <br>
            <ul class="social mb-0 list-inline mt-3"></ul>
            <div class='bar_group'>
              <div style="display: none;" class='bar_group__bar thick' tooltip='true' value='{{om_mani_padme_hum_target}}'></div>
              <div class='bar_group__bar thick' show_values='true' tooltip='true' value='{{om_mani_padme_hum_counter}}'></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="{% static 'images/manju.jpg' %}" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="font-weight-bold mb-0 category-title">文殊菩萨心咒</h5>
            <p class="font-weight-bold small text-muted">Manjushri Bodhisattva Mantra</p>
			      <div class="card-counter font-weight-bold" id="manjushri-mantra-counter" style="font-size: 35px">0</div>
            <ul class="social mb-0 list-inline mt-2"></ul>
            <h5 class="font-weight-bold mb-0" >目标 (Target): {{manjushri_mantra_target}}</h5>
            <br>
            <ul class="social mb-0 list-inline mt-3"></ul>
            <div class='bar_group'>
              <div style="display: none;" class='bar_group__bar thick' tooltip='true' value='{{manjushri_mantra_target}}'></div>
              <div class='bar_group__bar thick' show_values='true' tooltip='true' value='{{manjushri_mantra_counter}}'></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-0"><img src="{% static 'images/green_tara.jpg' %}" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="font-weight-bold mb-0 category-title">绿度母咒</h5>
            <p class="font-weight-bold small text-muted">Green Tara Mantra</p>
			      <div class="card-counter font-weight-bold" id="green-tara-mantra-counter" style="font-size: 35px">0</div>
            <ul class="social mb-0 list-inline mt-2"></ul>
            <h5 class="font-weight-bold mb-0" >目标 (Target): {{green_tara_mantra_target}}</h5>
            <br>
            <ul class="social mb-0 list-inline mt-3"></ul>
            <div class='bar_group'>
              <div style="display: none;" class='bar_group__bar thick' tooltip='true' value='{{green_tara_mantra_target}}'></div>
              <div class='bar_group__bar thick' show_values='true' tooltip='true' value='{{green_tara_mantra_counter}}'></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!--
  <h2 class="font-weight-bold mb-2">Latest Statistics</h2>

  <div class='bar_group'>
    <div class='bar_group__bar thick' label='jQuery' show_values='true' tooltip='true' value='343'></div>
    <div class='bar_group__bar thick' label='AJAX' show_values='true' tooltip='true' value='235'></div>
    <div class='bar_group__bar thick' label='PHP' show_values='true' tooltip='true' value='675'></div>
    <div class='bar_group__bar thick' label='SASS' show_values='true' tooltip='true' value='456'></div>
    <div class='bar_group__bar thick' label='HAML' show_values='true' tooltip='true' value='245'></div>
  </div>
-->

</div>
<script src="{% static 'bars.js' %}"></script>

<script>
	$(document).ready(function() {
    $('#full-prostration-counter').text('{{full_prostration_counter}}');
    $('#half-prostration-counter').text('{{half_prostration_counter}}');
    $('#bow-counter').text('{{bow_counter}}');
    $('#recitation-counter').text('{{recitation_counter}}');

    $('#mahaprajnaparamita-sutra-counter').text('{{mahaprajnaparamita_sutra_counter}}');
    $('#heart-sutra-counter').text('{{heart_sutra_counter}}');
    $('#medicine-buddha-sutra-counter').text('{{medicine_buddha_sutra_counter}}');
    $('#golden-light-sutra-counter').text('{{golden_light_sutra_counter}}');

    $('#om-mani-padme-hum-counter').text('{{om_mani_padme_hum_counter}}');
    $('#manjushri-mantra-counter').text('{{manjushri_mantra_counter}}');
    $('#green-tara-mantra-counter').text('{{green_tara_mantra_counter}}');
    $('#migtsema-counter').text('{{migtsema_counter}}');

    $('.card-counter').each(function () {
    $(this).prop('Counter',0).animate({
    Counter: $(this).text()
    }, {
        duration: 3000,
        easing: 'swing',
        step: function (now) {
        $(this).text(Math.ceil(now));
        }
      });
    });
	});
</script>

{% endblock content %}

{% block script_content %}

{% endblock script_content %}   


