{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!--
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'><link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="{% static 'marq.css' %}">
  <link rel="stylesheet" media="screen" href="{% static 'jquery.sakura.min.css' %}" type="text/css">


    {% block title %}
    {% endblock title %}

    {% block additional_styles %}
    <style>
      body {
        background-image: url(../static/images/tulips1.jpg);
      }
    </style>
    {% endblock %}    

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src = "{% static 'images/sg_lamrim.jpg' %}" alt ="Bodhicitta" height="45" width="100"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/index/index">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" active href="/view_offerings/view_offerings">View Offerings </a>
    </div>
  </div>
</nav>

  </head>
  <body>

  {% block content %}
  {% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script><script  src="./script.js"></script>

    <script src="{% static 'jquery.pause.min.js' %}"></script>
    <script src="{% static 'jquery.pause.js' %}"></script>    
    <script src="{% static 'jquery.marquee.min.js' %}"></script>
    <script src="{% static 'jquery.marquee.js' %}"></script>
    <script src="{% static 'scrollMarquee.js' %}"></script> 
    <script src="{% static 'jquery.sakura.min.js' %}"></script>  
    <!--
    <script src="{% static 'jquery.rose.js' %}"></script>     
    -->

{% block script_content %}     
{% endblock script_content %}  
       
    <script>
      $.myjQuery = function() {
        alert("jQuery");
      };
      
      function display() {
        $.myjQuery();
      };
  </script>     

  </body>
</html>